{% load static i18n %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% trans "Dashboard" %}</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'frontend/WrapCard.css' %}">
</head>
<body>
  <header class="heading-bar">
    <h1>{% trans "Spotify Wrapped" %}</h1>
    <!-- Theme Toggle Button -->
    <div class="theme-toggle-container">
      <button id="theme-toggle" class="theme-toggle">🌙 {% trans "Dark Mode" %}</button>
    </div>
    <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
      <select name="language" onchange="this.form.submit()">
          <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
          <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
          <option value="fr" {% if LANGUAGE_CODE == 'fr' %}selected{% endif %}>Français</option>
      </select>
    </form>
    <!-- Inside the heading-bar -->
    <div class="user-menu">
      <button class="user-menu-toggle">{{ request.user.username }}</button>
      <div class="user-dropdown">
        <form action="{% url 'frontend:logout' %}" method="post" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="dropdown-item">{% trans "Logout" %}</button>
        </form>
        <button class="dropdown-item delete-account-btn">{% trans "Delete Account" %}</button>
      </div>
    </div>

  </header>

  <!-- Delete Account Confirmation Modal -->
  <div id="confirm-delete-modal" class="modal">
    <div class="modal-content">
      <span class="close-button" onclick="closeDeleteModal()">&times;</span>
      <h2>Are you sure you want to delete your account?</h2>
      <p>This action cannot be undone.</p>
      <div class="modal-actions">
        <form action="{% url 'spotify:delete_account' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="delete-account-confirm-btn">Confirm</button>
        </form>
        <button class="delete-account-cancel-btn" onclick="closeDeleteModal()">Cancel</button>
      </div>
    </div>
  </div>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {% blocktrans %}{{ message }}{% endblocktrans %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

  <div class="wraps-container">
    {% for wrap in wrap_data %}
      <div class="wrap-card {{ wrap.wrap_type }}"
           data-title="{{ wrap.wrap_name | escape }}"
           data-wrap-type="{{ wrap.wrap_type | escape }}"
           data-details="{{ wrap.wrap_data | escape }}"
           onclick="showPopup(this)"
           id="wrap-{{ wrap.id }}"
           data-id="{{ wrap.id }}">
        <h3>{{ wrap.wrap_name }}</h3>
        <p>{{ wrap.created_at }}</p>

        {% if wrap.wrap_type == "top_tracks" %}
          {% for track in wrap.wrap_data.content %}
            <p><strong>{% trans "Name" %}:</strong> {{ track.name }}</p>
            <p><strong>{% trans "Artists" %}:</strong> {{ track.artists }}</p>
            <p><strong>{% trans "Album" %}:</strong> {{ track.album }}</p>
            {% if track.album_cover %}
              <img src="{{ track.album_cover }}" alt="{% trans 'Album Cover' %}" style="width: 100px; height: auto;">
            {% endif %}
            {% if track.preview_url %}
              <audio controls>
                <source src="{{ track.preview_url }}" type="audio/mpeg">
                {% trans "Your browser does not support the audio element." %}
              </audio>
            {% endif %}
            <hr>
          {% endfor %}
        {% endif %}

        {% if wrap.wrap_type == "top_artists" %}
          {% for artist in wrap.wrap_data.content %}
            <p><strong>{% trans "Artist Name" %}:</strong> {{ artist.artist_name }}</p>
            <p><strong>{% trans "Popularity" %}:</strong> {{ artist.popularity }}</p>
            <p><strong>{% trans "Genres" %}:</strong> {{ artist.genres|join:", " }}</p>
            {% if artist.profile_picture %}
              <img src="{{ artist.profile_picture }}" alt="{% trans 'Artist Profile Picture' %}" style="width: 100px; height: auto;">
            {% endif %}
            <hr>
          {% endfor %}
        {% endif %}

        {% if wrap.wrap_type == "top_albums" %}
          {% for album in wrap.wrap_data.content %}
            <p><strong>{% trans "Album Name" %}:</strong> {{ album.name }}</p>
            <p><strong>{% trans "Artists" %}:</strong> {{ album.artists }}</p>
            <p><strong>{% trans "Release Date" %}:</strong> {{ album.release_date }}</p>
            <p><strong>{% trans "Total Tracks" %}:</strong> {{ album.total_tracks }}</p>
            {% if album.album_cover %}
              <img src="{{ album.album_cover }}" alt="{% trans 'Album Cover' %}" style="width: 100px; height: auto;">
            {% endif %}
            <hr>
          {% endfor %}
        {% endif %}

        {% if wrap.wrap_type == "top_genres" %}
          {% for genre in wrap.wrap_data.content %}
            <p><strong>{% trans "Genre" %}:</strong> {{ genre.genre }}</p>
            <p><strong>{% trans "Count" %}:</strong> {{ genre.count }}</p>
            <hr>
          {% endfor %}
        {% endif %}

        {% if wrap.wrap_type == "top_playlists" %}
          {% for playlist in wrap.wrap_data.content %}
            <p><strong>{% trans "Playlist Name" %}:</strong> {{ playlist.name }}</p>
            <p><strong>{% trans "Description" %}:</strong> {{ playlist.description }}</p>
            <p><strong>{% trans "Owner" %}:</strong> {{ playlist.owner }}</p>
            <p><strong>{% trans "Total Tracks" %}:</strong> {{ playlist.tracks_count }}</p>
            {% if playlist.playlist_cover %}
              <img src="{{ playlist.playlist_cover }}" alt="{% trans 'Playlist Cover' %}" style="width: 100px; height: auto;">
            {% endif %}
            <hr>
          {% endfor %}
        {% endif %}

        <!-- Delete Wrap Button -->
        <form action="{% url 'wraps:delete_wrap' wrap.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="delete-wrap-button">{% trans "Delete" %}</button>
        </form>
      </div>
    {% empty %}
      <div class="empty-wrap">
        <p>{% trans "You don't have any saved wraps yet." %}</p>
      </div>
    {% endfor %}
  </div>

  <!-- Popup Modal -->
  <div id="popupModal" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close-button" onclick="closePopup()">&times;</span>
      <h3 id="modalTitle"></h3>
      <div id="slideContent"></div>
      <div class="slide-controls">
        <button id="prevSlide" onclick="changeSlide(-1)" class="prev-button">{% trans "Previous" %}</button>
        <button id="nextSlide" onclick="changeSlide(1)" class="next-button">{% trans "Next" %}</button>
      </div>
    </div>
  </div>

  <!-- Create Wrap Modal -->
  <div id="options-modal" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close-button" onclick="closeOptionsPopup()">&times;</span>
      <h2>{% trans "Select Wrap Type" %}</h2>
      <form method="post" action="{% url 'wraps:dashboard' %}">
        {% csrf_token %}
        <select id="wrapTypeDropdown" name="wrapTypeDropdown" class="dropdown-menu">
            <option value="top_artists">{% trans "Top Artists" %}</option>
            <option value="top_tracks">{% trans "Top Tracks" %}</option>
            <option value="top_albums">{% trans "Top Albums" %}</option>
            <option value="top_genres">{% trans "Top Genres" %}</option>
            <option value="top_playlists">{% trans "Top Playlists" %}</option>
        </select>
        <h2>{% trans "Select Time Period" %}</h2>
        <select id="timePeriodDropdown" name="time_period" class="dropdown-menu">
          <option value="short_term">{% trans "Short-Term" %}</option>
          <option value="medium_term">{% trans "Medium-Term" %}</option>
          <option value="long_term">{% trans "Long-Term" %}</option>
        </select>
        <button class="submit-wrap-button" type="submit">{% trans "Generate Wrap" %}</button>
      </form>
    </div>
  </div>

  <div class="create-wrap-button" onclick="showOptions()">{% trans "Create Wrap" %}</div>

  <script src="{% static 'frontend/Dashboard.js' %}"></script>
</body>
</html>